.main-chat
  .main-chat__header
    .main-chat__header__chat-header
      .main-chat__header__chat-header__text
        = @group.name
      .main-chat__header__chat-header__group-line
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "main-chat__header__edit-btn" do
      Edit
  .main-chat__message
    = render @messages
    
  .main-chat__form
    = form_with model: [@group, @message], html: {class: "main-chat__form__format"}, local: true do |f|
      .main-chat__form__format
        = f.text_field :content, class: 'form-text', placeholder: 'type a message'
        = f.label :image, class: 'input' do
          = icon('far', 'image', class: 'input')
          = f.file_field :image, class: 'picture'
      = f.submit 'Send', class: 'submit-btn'
