.side-bar
  .side-bar__side-header
    .side-bar__side-header__side-box
      = current_user.name
      .side-bar__side-header__side-box__contents
        = link_to new_group_path(current_user), class: ".side-bar__side-header__side-box" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: ".side-bar__side-header__side-box" do
          = icon('fas', 'cog') 
  .side-bar__groups
    - current_user.groups.each do |group|
      .group-member
        =link_to group_messages_path(group), class: ".side-bar__groups" do
          .side-bar__groups__groups-list
            = group.name
          .side-bar__groups__groups-comment
            = group.show_last_message
